/* #editAccountModal {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
}

.editBackgroundModalAccount {
    background-color: white;
    width: 50%;
    height: auto;
}
label{
    color: black;
}

#closeEditModalAccount{
    margin-right: 24px;
}

#closeEditModalAccount svg:hover{
    color: red;
}

#editAccountButton{
    background-color: rgb(39, 155, 7);
}

#editAccountButton:hover{
    background-color: rgb(46, 182, 8);
} */